#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/outputs.h>
#include <behaviors/mouse_keys.dtsi>
#include <dt-bindings/zmk/ext_power.h>
#include "macros.dtsi"

// / {
//     chosen { zmk,matrix_transform = &default_transform; };
// };

/ {
    /* input config for mouse move mode */
    trackball_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <0 2 7>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <1>;
        scale-divisor = <2>;
        // bindings = <&ib_toggle_layer 7>;
    };

    /* input config for snipe mode */
    trackball_snipe_listener {
        compatible = "zmk,input-behavior-listener";   
        device = <&vtrackball>;
        layers = <8>;
        evt-type = <INPUT_EV_REL>;
        x-input-code = <INPUT_REL_X>;
        y-input-code = <INPUT_REL_Y>;
        scale-multiplier = <2>;
        scale-divisor = <1>;
    };

    /* input config for mouse scroll mode */
    trackball_scroll_listener {
        compatible = "zmk,input-behavior-listener";
        device = <&vtrackball>;
        layers = <9>;
        evt-type = <INPUT_EV_REL>;            
        x-input-code = <INPUT_REL_MISC>;
        y-input-code = <INPUT_REL_WHEEL>;
        y-invert;
        bindings = <&ib_wheel_scaler 1 20>;
    };

    /* define a resolution down scaler only for INPUT_REL_WHEEL */
    ib_wheel_scaler: ib_wheel_scaler {
        compatible = "zmk,input-behavior-scaler";
        #binding-cells = <2>;
        evt-type = <INPUT_EV_REL>;
        input-code = <INPUT_REL_WHEEL>;
    };

    /* adjust cooldown waiting period for mouse key layer after activated */
    ib_toggle_layer: ib_toggle_layer {
        compatible = "zmk,input-behavior-tog-layer";
        #binding-cells = <1>;
        time-to-live-ms = <750>;
    };

    behaviors {
        hm: homerow_mod {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <175>; // triggers the hold behavior when the tapping-term-ms has expired
            quick-tap-ms = <160>; // If you press a tapped hold-tap again within quick-tap-ms milliseconds of the first press, it will always trigger the tap behavior.
            require-prior-idle-ms = <185>; // like quick-tap-ms however it will apply for any non-modifier key pressed before it
            bindings = <&kp>, <&kp>;  // hold, tap
        };

        hmsh: homerow_mod_short {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <155>; // triggers the hold behavior when the tapping-term-ms has expired
            quick-tap-ms = <130>; // If you press a tapped hold-tap again within quick-tap-ms milliseconds of the first press, it will always trigger the tap behavior.
            require-prior-idle-ms = <145>; // like quick-tap-ms however it will apply for any non-modifier key pressed before it
            bindings = <&kp>, <&kp>;  // hold, tap
        };

        td_cursor: td_scroll_or_cursor {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&lt 9 ESC>, <&mkp RCLK>; // hold, tap, double_tap
        };
        
        hm_s: homerow_mod_special {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <210>; // triggers the hold behavior when the tapping-term-ms has expired
            quick-tap-ms = <180>; // If you press a tapped hold-tap again within quick-tap-ms milliseconds of the first press, it will always trigger the tap behavior.
            require-prior-idle-ms = <220>; // like quick-tap-ms however it will apply for any non-modifier key pressed before it
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 5 6 7 8 9 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34>;
        };

        hm_right: homerow_mod_right {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "balanced";
            tapping-term-ms = <195>; // triggers the hold behavior when the tapping-term-ms has expired
            quick-tap-ms = <170>; // If you press a tapped hold-tap again within quick-tap-ms milliseconds of the first press, it will always trigger the tap behavior.
            require-prior-idle-ms = <200>; // like quick-tap-ms however it will apply for any non-modifier key pressed before it
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <0 1 2 3 4 10 11 12 13 14 20 21 22 23 24 30 31 32>;
        };

        td_dc: td_v_cot_comma {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <175>;
            bindings = <&lt 1 SPACE>, <&kp COMMA>;
        };
    

        td_bore: BASE_or_EXTRA {
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            bindings = <&mo 6>, <&to 0>;
        };

    };

    combos {
        compatible = "zmk,combos";


        BASE_or_EXTRAS {
            bindings = <&td_bore>;
            key-positions = <4 5>;
        };
    };

// ╭──────┬──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────┬──────╮
//    00     01     02     03    04      05        06     07     08     09     10     11
// ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
//    12     13     14     15    16      17        18     19     20     21     22     23
// ├──────┼──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┼──────┤
//    24     25     26     27    28      29        30     31     32     33     34     35
// ╰──────┴──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────┴──────╯
//                         36     37     38        39     40
//                      ╰──────┴──────┴──────╯  ╰──────┴──────╯
// ╭──────┬──────┬──────┬──────┬──────╮  ╭──────┬──────┬──────┬──────┬──────╮
//    00     01     02     03     04        05     06     07     08     09   
// ├──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┤
//    10     11     12     13     14        15     16     17     18     19   
// ├──────┼──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┼──────┼──────┤
//    20     21     22     23     24        25     26     27     28     29    
// ╰──────┴──────┼──────┼──────┼──────┤  ├──────┼──────┼──────┴──────┴──────╯
//                  30     31     32        33     34
//               ╰──────┴──────┴──────╯  ╰──────┴──────╯
// #define BASE    0
// #define NUM     1
// #define NAV     2
// #define SYM     3



    keymap {
        compatible = "zmk,keymap";
               BASE {
            bindings = <
// ╭────────────────┬──────────────────┬─────────────────────────┬─────────────────────────────┬──────────────────┬──────────────────╮  ╭────────────────┬─────────────────┬──────────────────────────────────┬──────────────────────────────┬────────────────────────┬──────────────╮
                 &hm GRAVE H          &hm APOS W                &hm LC(LS(N0)) F          &hm LC(LS(LALT)) P    &hm ESC G           &hm LG(R) J      &hm PRCNT L          &hm LG(F) U                     &hm AMPS Y                     &hm LS(SEMI)  SEMI         
// ├────────────────┼──────────────────┼─────────────────────────┼─────────────────────────────┼──────────────────┼──────────────────┤  ├────────────────┼─────────────────┼──────────────────────────────────┼──────────────────────────────┼────────────────────────┼──────────────┤
                 &kp A                  &hm LALT S                &hm LCTRL R                 &hm_s LGUI T        &hm LPAR D            &hm LBKT M       &hm_right LGUI N     &hm_right LCTRL E               &hm_right LALT I               &hm LG(S) O                  
// ├────────────────┼──────────────────┼─────────────────────────┼─────────────────────────────┼──────────────────┼──────────────────┤  ├────────────────┼─────────────────┼──────────────────────────────────┼──────────────────────────────┼────────────────────────┼──────────────┤
                 &hmsh LSHFT Z          &hm LG(X) X               &hm  LG(C) C                &hm LG(V) V         &hm LBRC B            &hm LT K         &mkp LCLK            &td_cursor                      &hm_right PLUS H               &hmsh RSHFT FSLH           
// ╰────────────────┴──────────────────┴─────────────────────────┼─────────────────────────────┼──────────────────┼──────────────────┤  ├────────────────┼─────────────────┼──────────────────────────────────┴──────────────────────────────┴────────────────────────┴──────────────╯
                 &none                   &none                      &mt LG(TAB) TAB      &lt 3 DOT           &td_dc                     &lt 2 RETURN     &kp BACKSPACE      &none                               &none                           &none  
                                                                              //  ╰─────────────┴──────────────────┴─────────────────╯  ╰────────────────┴─────────────────╯  
&kp A   &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A  
&kp A   &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A &kp A  

            >;
        };
        
        

        NUM {
            bindings = <
    &kp CAPS      &kp LC(LS(N0)) &kp LC(LS(N1)) &kp LC(LS(N2))  &none             &none      &hm_right F7 N7  &hm_right F8 N8  &hm_right F9 N9     &none  
    &kp LG(Z)     &glog          &ghard         &kp BACKSPACE   &gcheckout        &none      &hm_right F4 N4  &hm_right F5 N5  &hm_right F6 N6     &none   
    &kp LG(A)     &kp LG(X)      &kp LG(C)      &kp LG(V)       &kp LG(TAB)       &kp N0     &hm_right F1 N1  &hm_right F2 N2  &hm_right F3 N3     &none   
               &none                   &none                             &kp RETURN     &none           &none             &trans     &trans  &none                   &none     &none 
          //                      ╰────────────────┴────────────────┴───────x─────╯   ╰─────────┴──────────╯
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  

            >;
        };


        NAV {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────╮   ╭──────────┬──────────┬───────────────────┬────────────────┬──────────╮
        &trans  &kp C_VOL_UP   &trans    &trans   &kp C_BRI_UP    &trans     &trans   &hm LG(LS(F)) LG(F)   &kp LC(LS(N0))   &trans       
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────────────┼────────────────┼──────────┤
        &trans  &kp C_VOL_DN   &HSplit   &VSplit  &kp C_BRI_DN    &kp DARW   &kp RARW   &kp LG(A)           &kp LG(Z)        &trans       
        //├──────────┼──────────┼──────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────────────┼────────────────┼──────────┤
        &trans  &kp C_MUTE    &trans     &trans    &trans         &kp UARW   &kp LARW   &kp LG(V)           &kp LG(C)        &kp LG(X)    
        //╰──────────┴──────────┴──────────┼──────────┼──────────┤   ├──────────┼──────────┼───────────────────┴────────────────┴──────────╯
            &none                   &none         &none     &trans     &trans         &trans     &trans &none                   &none   &none               
        //                      ╰──────────┴──────────┴──────────╯   ╰────x─────┴──────────╯
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  
            >;
        };

        

        SYM {
            bindings = <
        //╭──────────┬──────────┬──────────┬──────────┬──────────────────╮   ╭──────────────────┬──────────┬──────────┬──────────┬──────────╮
        //│  `       │    '     │    "     │    $     │                  │   │                  │    %     │    ^     │    &     │    *     │
      &kp GRAVE   &kp APOS  &kp DQT     &kp DLLR    &trans                     &trans       &kp PRCNT  &kp CARET   &kp AMPS  &kp ASTRK    
        //├──────────┼──────────┼──────────┼──────────┼──────────────────┤   ├──────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│   ~      │   !      │  @       │    #     │    (             │   │    [             │     │    │    -     │    =     │     ?    │
      &kp TILDE   &kp EXCL   &kp AT     &kp HASH   &kp RPAR                &kp RBKT         &kp PIPE   &kp MINUS &kp EQUAL  &kp QMARK    
        //├──────────┼──────────┼──────────┼──────────┼──────────────────┤   ├──────────────────┼──────────┼──────────┼──────────┼──────────┤
        //│          │          │          │          │   {              │   │    <             │          │    _     │    +     │    \     │
       &trans     &trans     &trans     &trans     &kp RBRC                &kp GT            &trans  &kp UNDER   &kp PLUS  &kp BSLH      
        //╰──────────┴──────────┴──────────┼──────────┼──────────────────┤   ├──────────────────┼──────────┼──────────┴──────────┴──────────╯
           &none  &none     &none     &trans     &trans                  &trans            &trans   &none  &none   &none  
        //                      ╰──────────┴──────────┴──────────────────╯   ╰──────────────────┴────x─────╯
        &none  &none  &none  &none  &none  &none  &none  &none  &none  &none  
&none  &none  &none  &none  &none  &none  &none  &none  &none  &none  
            >;
        }; 

    };
};