#include "charybdis-layouts.dtsi"

/ {

    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &charybdis_physical_layout;
    };

    vbatt: vbatt {
	compatible = "zmk,battery-nrf-vddh";
    };
	
    kscan0: kscan {
        wakeup-source;
        diode-direction = "row2col";
    };
};